
{{ form_start(form) }}

    {{ form_row(form.newFirstName) }}
    {{ form_row(form.newLastName) }}

    <button type="submit" class="btn btn-primary">Changer le Nom/Prénom</button>

{{ form_end(form) }}
