{% extends 'base.html.twig' %}


{% block body %}
	<div class='profil'>
		<div class='edition'>
			<h3>Profil</h3>
            <h4></h4>
			<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">
				<button type="submit" class="btn btn-danger" style="margin-top:25px;">Deconnexion</button>
			</a>
		</div>
		<div class='commandes'>
			<h2>Mes Commandes</h2>
		</div>
	</div>

	<style>
		.profil {
			text-align: center;
            display: flex;
			justify-content: center;
			margin: 0;
		}

		.edition,
		.commandes {
			border: 1px solid #ccc;
			padding: 20px;
			margin: 10px;
            border-radius: 10px;
		}
	</style>
{% endblock %}
